<header>
    <nav>
        <ul>
            <% NAVMENU.forEach(function(nav){ %>
                <li><a href="<%- nav.url %>"><%- nav.content.title %></a></li>
            <% }); %>
        </ul>
    </nav>

I am header | change lang to ...
    <% if(language === 'uk') { %>
        <% if(page==='index') {%>
            <a href="/ru/">ru</a>
        <% } else { %>
            <a href="/ru/<%-page %>/">ru</a>
        <% }  %>
    
    <% } else { %>  
        <% if(page==='index') {%>
            <a href="/">uk</a>
        <% } else { %>
            <a href="/<%-page %>/">uk</a>
        <% }  %>
      
    <% } %>
</header>
