<!DOCTYPE html>
<html lang="<%= language %>" itemscope=""  itemtype="https://schema.org/WebSite" prefix="og: https://ogp.me/ns#" 

    >
<head>
    <link rel="icon" type="image/png" href="/images/favicon.png" >
    <title><%= page %> | <%= language %> </title>
    <link rel="stylesheet" href="/css/main.css">
</head>
